{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Abdul Hakeem Lashari</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Abdul Hakeem Lashari. Currently Pursuing Bachelors in
                    Computer Science. My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.
                    I am passionate about using AI to help Pakistani farmers detect plant diseases.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:u2023007@giki.edu.pk'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                u2023007@giki.edu.pk<br><br>
                <a target="_blank" href='https://github.com/abdulhakeem'><img
                        src="https://image.flaticon.com/icons/png/512/25/25231.png" height="40" width="40"></a> :
                abdulhakeem<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/abdulhakeemlashari'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40"></a> :
                abdulhakeemlashari<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Muhammad Ammar</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Muhammad Ammar. Currently Pursuing Bachelors in
                    Computer Science. My main focuses are on Deep Learning, Computer Vision and AI Applications
                    for agriculture. Building کسان مددگار to help farmers in Pakistan.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:u2023375@giki.edu.pk'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                u2023375@giki.edu.pk<br><br>
                <a target="_blank" href='https://github.com/muhammadammar'><img
                        src="https://image.flaticon.com/icons/png/512/25/25231.png" height="40" width="40"></a> :
                muhammadammar<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/muhammadammar'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40"></a> :
                muhammadammar<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}